*
!scripts
!scripts/*
!scripts/common
!scripts/common/*
scripts/.snakemake*
!Snakefile
!config.yaml
!samples.tsv
!envs
!envs/*
!environment.yaml
!LICENSE
!README.md
!rules
!rules/*
!.gitignore
!.gitattributes
!config.sh
!config_sample.yaml
!ngs-test-data
!ngs-test-data/*
!ngs-test-data/reads
!ngs-test-data/reads/*
!ngs-test-data/adapters
!ngs-test-data/adapters/*
!ngs-test-data/ref
!ngs-test-data/ref/*